body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

html{
    scroll-behavior: smooth;
}


.navBar{
    display: flex;
    background-color: #151515;
    justify-content: center;
    padding: 1%;
    
}



.child-navBar{
    margin-left: 30%;
}

.img-logo{
    color: #ffffff;
    width: 25px;
    height: 25px;
}


a{
    text-decoration: none;
}

.home{
    margin-right: 30px;
    cursor: pointer;
}

.about{
    cursor: pointer;
}


a {
    color: #ffffff;
  }


.contact{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    color: #f6c355;
}

.registration{
    cursor: pointer;
}

.login{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}


  
  /* mouse over link */
  a:hover {
    color: #f6c355;
    font-size: larger;


  }
  



   .main{
       margin-bottom: 7%;
    
   }


  h2{
      text-align: center;
      margin-top: 7%;

  }


  p{
      text-align: center;
  }




  .form{
      background-color: #f6c355;
      text-align: center;
      margin-left: 27%;
      margin-right: 27%;
      margin-top: 3%;
      padding: 2% 0 2% 0;
      border-radius: 10px;

  }

  .name{
    border-radius: 10px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 7px;
    width: 53%;
    border-color: #ffffff;
    
  }

  .l-name{
      margin-right: 48%;
      color: #000000;

  }


  .msg{
    margin-right: 45%;
    color: #000000;
    
  }


  .email{
    border-radius: 10px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 7px;
    width: 53%;
    border-color: #ffffff;
  }


  .textarea{
    border-radius: 10px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 7px;
    width: 53%;
    border-color: #ffffff;
      
  }




  .c-button{
    text-align: center;
    padding: 7px; 
    border-radius: 5px;
    background-color: #1e1e1e;
    font-size: medium;
    cursor: pointer;
    width: 30%;
    color: #ffffff;
  }




  .touch{
      color: #f6c355;
    
  }



  .button{
    background-color: #f6c355;
    padding: 20px;
     border-radius: 5px;
     font-size: large;
     color: #ffffff;
     height: 10px;
     text-align: center;

}



  .footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 6%;
    margin-top: 7%;
    
}

.footer-logo{
    margin-right: 17%;
    margin-left: 20%;
    width: 50px;
    height: 50px;
}

.navigate{
    margin-right: 10%; 
    margin-left: 12%;
}

.navi{
    text-decoration: underline;
}

a.button{
    color: #111111;
    margin-right: 20%;
    margin-left: 15%;
    font-size: medium;
}




.hr{
    border-style: solid;
    color: #f6c355;
}


.menu-mobile{
    display: none;
}



.hide{
    display: none;
}



#hamburger{
    display: none;
    width: 30px;
    border-width: 0px;

}


.show{
    display: flex;
    
    
}


.active{
    color: #f6c355;

}



.copyright{
    text-align: center;
    background-color: none;
}






/* MEDIA QUERY */


@media screen and (max-width: 803px) {

    #hamburger {
     display: block;
     border: none;
     background-color: #151515;
     cursor: pointer;
 
 }
 
 .login,
 .home,
 .registration,
 .about,
 .contact {
   margin: 6px 0px;
 }
 
 
 
     .line {
         background-color: #ffffff;
         height: 2px;
         width: 110%;
         margin-top: 100px 0;
         margin-left: 10% 0;
       }
 
       .line2 {
         margin: 5px 0;
       }
       
 
       .menu-mobile{
         align-items: center;
         flex-direction: column;
         padding-right: 2%;
     
       }
 
       .child-navBar{
         display: none;
     
     }
 
     .navBar{
         display: flex;
         justify-content: space-between;
     }
 
 
     .show{
         display: flex;
         align-content: center;
     }

     
    .footer{ 
        background-color: #000000;
        display: flex;
        justify-content: center;
        padding: 12%;
        

    }



    .button{
        background-color: #f6c355;
        padding: 15px;
         border-radius: 5px;
         font-size: large;
         color: #ffffff;
         text-align: center;
    


    }

    .form{
        background-color: #f6c355;
        text-align: center;
        margin-left: 10%;
        margin-top: 7%;
        padding: 4% 5% 4% 5%; 
        width: 70%;
        border-radius: 10px;
  
    }

    .name{
        border-radius: 10px;
        background-color: #ffffff;
        color: #1e1e1e;
        padding: 7px;
        width: 65%;
        border-color: #ffffff;
        
      }

      .l-name{
        margin-right: 54%;
        color: #000000;
  
    }

    .email{
        border-radius: 10px;
        background-color: #ffffff;
        color: #1e1e1e;
        padding: 7px;
        width: 65%;
        border-color: #ffffff;
      }


      .textarea{
        border-radius: 10px;
        background-color: #ffffff;
        color: #1e1e1e;
        padding: 7px;
        width: 65%;
        border-color: #ffffff;
          
      }

      
      .msg{
           margin-right: 47%;
           color: #000000;
    
        }

        .c-button{
            text-align: center;
            padding: 5px; 
            border-radius: 5px;
            background-color: #1e1e1e;
            font-size: small;
            cursor: pointer;
            width: 25%;
            color: #ffffff;
          }
  
          .footer{ 
            background-color: #000000;
            display: flex;
            justify-content: center;
            padding: 12%;
            
    
        }
    
    
    
        .button{
            background-color: #f6c355;
            padding: 13px;
             border-radius: 5px;
             font-size: large;
             color: #ffffff;
             text-align: center;
    
        }

        .footer-logo{
            margin-right: 17%;
            margin-left: 20%;
            width: 45px;
            height: 45px;
        }




    }